 .u-section-1 {
  background-image: url("images/556527797-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1011px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-shape-1 {
  height: 329px;
  width: 616px;
  margin: 638px auto 0 -45px;
}

.u-section-1 .u-layout-wrap-1 {
  min-height: 851px;
  margin: -887px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 515px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  line-height: 1.1;
  text-shadow: -6px 4px 11px rgba(0,0,0,0.45);
  margin: 224px 12px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 366px;
  background-image: url("images/1572984261061.jpeg");
}

.u-section-1 .u-container-layout-2 {
  box-shadow: -16px 15px 23px 0px rgba(128,128,128,0.3);
}

.u-section-1 .u-image-2 {
  background-image: url("images/bcclogo.jpg");
  min-height: 516px;
  background-position: 50% 50%;
}

.u-section-1 .u-line-1 {
  width: 245px;
  transform-origin: right center 0;
  margin: 160px auto 50px -163px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 365px;
}

.u-section-1 .u-shape-2 {
  height: 183px;
  width: 510px;
  margin: 42px -13px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: -194px 20px 0;
}

.u-section-1 .u-link-1 {
  padding-bottom: 2px;
  margin: 30px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 575px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 542px;
    margin-top: -824px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 452px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    font-size: 3.75rem;
    line-height: 66px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-image-2 {
    min-height: 425px;
  }

  .u-section-1 .u-line-1 {
    width: 202px;
    margin-left: -135px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-1 .u-shape-2 {
    width: 407px;
    margin-top: 148px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    font-size: 1.25rem;
    margin-top: -293px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-link-1 {
    position: relative;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1958px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1585px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 433px;
    margin-top: -1833px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-image-2 {
    min-height: 723px;
  }

  .u-section-1 .u-line-1 {
    width: 155px;
    margin-left: -103px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 257px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 52px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -197px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1875px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: 1502px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 147px;
    margin-top: -1750px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-image-2 {
    min-height: 542px;
  }

  .u-section-1 .u-line-1 {
    width: 145px;
    margin-left: -77px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 289px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 84px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -229px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1818px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: 1445px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1693px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 522px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    line-height: 1.4;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-image-1 {
    min-height: 410px;
  }

  .u-section-1 .u-image-2 {
    min-height: 341px;
  }

  .u-section-1 .u-line-1 {
    width: 122px;
    margin-left: -49px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 385px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-top: 180px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -325px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 954px;
}

.u-section-2 .u-image-1 {
  width: 800px;
  height: 450px;
  box-shadow: -7px 5px 20px 0 rgba(0,0,0,0.35);
  margin: 60px auto 0 -61px;
}

.u-section-2 .u-image-2 {
  width: 964px;
  height: 442px;
  box-shadow: 8px 11px 30px 0 rgba(0,0,0,0.4);
  margin: -92px 0 0 auto;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 384px;
  height: auto;
  margin: -800px -160px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 19px;
  padding-right: 19px;
}

.u-section-2 .u-shape-1 {
  height: 136px;
  width: 472px;
  margin: 64px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: -126px 41px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 41px 0;
}

.u-section-2 .u-shape-2 {
  width: 495px;
  height: 14px;
  margin: 435px auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 625px;
  min-height: 68px;
  margin: -33px 0 26px auto;
}

.u-section-2 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-2 .u-image-2 {
    width: 940px;
    height: 431px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -789px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 65px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-top: -127px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-top: 21px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 405px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 720px;
    height: 330px;
    margin-top: -47px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -688px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 47px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -109px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 248px;
    margin-top: 54px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -606px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 156px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -514px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-2 .u-shape-1 {
    width: 320px;
    margin-top: 80px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -142px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 769px;
}

.u-section-3 .u-shape-1 {
  height: 468px;
  width: 695px;
  margin: 169px auto 0 -81px;
}

.u-section-3 .u-image-1 {
  width: 711px;
  height: 500px;
  margin: -533px auto 0 -45px;
}

.u-section-3 .u-group-1 {
  min-height: 193px;
  width: 591px;
  height: auto;
  margin: -481px -94px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 31px;
  padding-right: 31px;
}

.u-section-3 .u-shape-2 {
  height: 125px;
  width: 501px;
  margin: 23px auto 0 9px;
}

.u-section-3 .u-text-1 {
  margin: -103px 30px 0;
}

.u-section-3 .u-group-2 {
  width: 473px;
  min-height: 303px;
  height: auto;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-link-1 {
  padding-bottom: 2px;
  margin: 30px auto 30px 20px;
}

.u-section-3 .u-group-3 {
  width: 519px;
  min-height: 75px;
  margin: 14px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-3 .u-shape-3 {
  width: 11px;
  height: 293px;
  margin: -531px auto 0 552px;
}

.u-section-3 .u-image-2 {
  width: 295px;
  height: 212px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.38;
  margin: 48px 398px 39px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 17px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-top: -107px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-link-1 {
    margin-left: 16px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 32px;
    padding-right: 38px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-link-1 {
    margin-left: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 379px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    margin-top: -360px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 28px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-link-1 {
    margin-left: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-shape-3 {
    margin-left: 529px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 245px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 239px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: -220px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-shape-2 {
    width: 320px;
    margin-top: -9px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -81px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-link-1 {
    margin-left: 6px;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-shape-3 {
    margin-left: 329px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 45px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/01-11-scaled.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 653px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 90px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 567px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-4 .u-shape-1 {
  height: 175px;
  width: 510px;
  margin: 134px auto 0 -20px;
}

.u-section-4 .u-text-1 {
  margin: -289px 0 0;
}

.u-section-4 .u-line-1 {
  width: 40px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 30px auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 567px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
}

.u-section-4 .u-shape-2 {
  height: 175px;
  width: 510px;
  margin: 170px auto 0 -15px;
}

.u-section-4 .u-text-3 {
  margin: -325px 0 0;
}

.u-section-4 .u-line-2 {
  width: 40px;
  height: 7px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 37px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-4 .u-shape-1 {
    width: 435px;
    margin-top: 411px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: -537px;
    margin-right: 59px;
  }

  .u-section-4 .u-line-1 {
    width: 33px;
    margin-top: 37px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }

  .u-section-4 .u-btn-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 49px;
  }

  .u-section-4 .u-shape-2 {
    width: 425px;
    margin-top: 195px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    margin-top: -350px;
  }

  .u-section-4 .u-text-4 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 71px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 553px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-4 .u-shape-1 {
    width: 325px;
    margin-top: 413px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -568px;
    margin-right: 37px;
    margin-left: 13px;
  }

  .u-section-4 .u-line-1 {
    width: 25px;
    height: 7px;
    margin-top: 30px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 56px;
    margin-left: 13px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 38px;
  }

  .u-section-4 .u-shape-2 {
    width: 315px;
    margin-top: 270px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -425px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 171px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 363px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -518px;
    margin-right: 52px;
    margin-left: 20px;
  }

  .u-section-4 .u-line-1 {
    width: 23px;
    margin-left: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 85px;
    margin-left: 20px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 28px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 170px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -325px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 464px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -587px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-line-1 {
    width: 20px;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 44px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 554px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 229px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -384px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/01-3-scaled.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 798px;
  margin: 0 auto;
}

.u-section-5 .u-shape-1 {
  height: 365px;
  width: 503px;
  margin: 136px auto 0 -33px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: -417px auto 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 391px;
  background-image: url("images/Academic-Council-Meeting-2022-2-scaled.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-shape-2 {
  width: 11px;
  height: 293px;
  margin: 223px auto -155px 20px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 322px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 48px;
}

.u-section-5 .u-text-1 {
  margin: 57px 0 0;
}

.u-section-5 .u-link-1 {
  padding-bottom: 2px;
  margin: 32px auto 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 256px;
}

.u-section-5 .u-container-layout-3 {
  padding-right: 14px;
  padding-left: 14px;
}

.u-section-5 .u-shape-3 {
  height: 175px;
  width: 510px;
  margin: 31px 0 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  margin: -132px 46px 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 497px;
}

.u-section-5 .u-shape-4 {
  height: 300px;
  width: 509px;
  margin: 72px 14px 0 auto;
}

.u-section-5 .u-image-2 {
  width: 509px;
  height: 339px;
  margin: -372px auto 0 0;
}

.u-section-5 .u-group-1 {
  width: 519px;
  min-height: 75px;
  margin: 53px auto 0 -10px;
}

.u-section-5 .u-text-3 {
  margin: 0 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 397px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 40px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 16px;
    margin-right: 20px;
  }

  .u-section-5 .u-link-1 {
    margin-top: 28px;
    margin-bottom: 16px;
    width: auto;
    height: auto;
    position: relative;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 270px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 35px;
    padding-left: 49px;
  }

  .u-section-5 .u-shape-3 {
    width: 427px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 505px;
  }

  .u-section-5 .u-shape-4 {
    width: 455px;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    width: 455px;
    height: 303px;
  }

  .u-section-5 .u-group-1 {
    width: 455px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-5 .u-image-1 {
    min-height: 391px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 282px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 32px;
    margin-right: 48px;
  }

  .u-section-5 .u-link-1 {
    width: 95px;
    height: 36px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 197px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 27px;
    padding-left: 38px;
  }

  .u-section-5 .u-shape-3 {
    margin-top: -8px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -93px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 457px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 23px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 23px;
  }

  .u-section-5 .u-link-1 {
    width: 89px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 236px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 20px;
    padding-left: 28px;
  }

  .u-section-5 .u-shape-3 {
    margin-top: 31px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -132px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    background-position: 14.8% 50%;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 534px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 14px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-link-1 {
    margin-top: 27px;
    margin-bottom: 50px;
    width: auto;
    height: auto;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 224px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 13px;
    padding-left: 18px;
  }

  .u-section-5 .u-shape-3 {
    width: 320px;
    margin-top: 19px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -120px;
  }

  .u-section-5 .u-shape-4 {
    width: 340px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 226px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(51,51,51,0.75), rgba(51,51,51,0.75)), url("images/The-Future-Begins-Hear.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 490px;
}

.u-section-6 .u-group-1 {
  width: 679px;
  min-height: 249px;
  margin: 87px auto 0 3px;
}

.u-section-6 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  margin: 8px 20px 0;
}

.u-section-6 .u-link-1 {
  padding-bottom: 2px;
  margin: 8px 20px 7px;
}

.u-section-6 .u-social-icons-1 {
  height: 47px;
  min-height: 16px;
  width: 185px;
  min-width: 92px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -115px 103px 60px auto;
}

.u-section-6 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 104px;
}

.u-section-6 .u-icon-2 {
  height: 104px;
}

.u-section-6 .u-icon-3 {
  height: 104px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-6 .u-group-1 {
    min-height: 263px;
    margin-top: 42px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-link-1 {
    height: 36px;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-6 .u-group-1 {
    min-height: 257px;
    margin-bottom: 35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-link-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-6 .u-group-1 {
    min-height: 319px;
    margin-top: 28px;
    margin-bottom: 31px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-top: 12px;
    margin-right: 2px;
    margin-left: 20px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-right: 2px;
    margin-left: 20px;
  }

  .u-section-6 .u-link-1 {
    height: auto;
    margin: 30px auto 9px 20px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    background-position: 70.54% 0%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 146px;
  }

  .u-section-6 .u-group-1 {
    min-height: 426px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-top: 16px;
    margin-right: 6px;
    margin-left: 1px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 28px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-6 .u-link-1 {
    width: 75px;
    height: 36px;
    margin-right: 6px;
    margin-bottom: 7px;
    margin-left: 0;
  }
}